{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block page_hero %}
<div class="callout-container-img-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 hero-background-color text-center">
                <h1 class="text-white">Your Profile Page</h1>
                <p class="text-small text-white">Information about your profile can be found bellow</p>
            </div>
        </div>
    </div>
</div>
<section class="form-checkout-section">
    <div class="container-fluid pt-5 pb-5">
        <div class="row">
            <div class="col-12 text-left">
                <hr>
                <h2 class="logo-font mb-4 text-black">My profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary text-capitalized float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Or. Num.</th>
                                <th>Date</th>
                                <th>Or. Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        titel="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td class="small">{{ order.date }}</td>
                                <td>{{ order.order_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="user-profile-info">
    <div class="container">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
</div>
{% endblock %}