{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">    
{% endblock %}

{% block page_hero %}
    <div class="callout-container-img-bg">
        <div class="container">
			<div class="row">
				<div class="col-12 hero-background-color text-center">
                    <h1 class="text-white">Your Profile Page</h1>
                    <p class="text-small text-white">Information about your profile can be found bellow</p>
				</div>
			</div>
		</div>
    </div>
    <section class="form-checkout-section">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 text-left">
                <hr>
                <h2 class="logo-font mb-4 text-black">My profile</h2>
                <hr>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
    <div class="user-profile-info">
        <div class="container">
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

