.blog-post-img {
    height: 14rem;
    width: 14rem;
}

.blog-post-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}

.post-card {
    background-color: #ffffff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
}

.comment-section {
    background: #FF5085;
    overflow-y: scroll;
    height: 33rem;
    margin-top: auto;
    margin-bottom: auto;
}

.comment-card {
    border-color: #ffffff;
    border-radius: 0.4rem;
    background: #0E1D28;
}

.blog-post-btn {
    background: #FF5085;
    padding: .2rem 0.5rem;
    border-radius: 0;
    border-color: #FF5085;
}