.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: .5rem;
    margin: 0rem;
    background-color: #ffffff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: 0.8rem;
    margin-top: 5rem;
}

.blog-post-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -3rem);
    height: 17rem;
    position: relative;
}

.blog-post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.8rem;
}

.blog-post-img::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(21, 49, 74, 0.2);
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.1);
}

.blog-post-date span {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: 600;
    margin: .2rem 0;
}

.blog-post-title {
    font-size: 1.3rem;
    margin: 0.5rem 0 1rem;
    text-transform: uppercase;
    color: #FF5085;
}

.blog-post-text {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
}

.blog-post-btn {
    background: #FF5085;
    padding: .2rem 0.5rem;
    border-radius: 0;
    border-color: #FF5085;
}

.comment-count {
    font-size: 1.3rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .blog-post {
        padding: 1.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .blog-post-img {
        min-width: 13rem;
        max-width: 13rem;
        height: 14rem;
        transform: translateX(-3rem);
        position: relative;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .blog-post-img {
        min-width: 15rem;
        max-width: 15rem;
        height: 14rem;
        transform: translateX(-3rem);
        position: relative;
    }
}
