@charset "UTF-8";

:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Typography */
html {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  @media (min-width: 576px) {
    html {
      font-size: 1.2rem; /* media-breakpoint-up(sm) */
    }
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 1.4rem; /* media-breakpoint-up(md) */
    }
  }
  
  @media (min-width: 992px) {
    html {
      font-size: 1.6rem; /* media-breakpoint-up(lg) */
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 3.5rem;
    }
  }

  /* Navigation Bar */
  .header-position {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
  }

  .dropdown-menu{
      z-index: 1;
      width: 100%;
  }

  .mobile-top-header {
      z-index: 1;
  }

  .my-account {
    background: #FF5085;
    padding: 0.2em 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    margin-right: 3rem;
  }

  .my-account > i {
    font-size: 1rem;
  }

  .navbar-brand{
    z-index: 1;
    font-weight: bold;
  }

  .hamburger-icon {
    z-index: 1;
  }

  .account-btn-icon {
    font-size: 1rem;
    line-height: .75em;
    vertical-align: -.0667em;
    margin-right: 0;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
    background: -o-linear-gradient(top, #FF5085, #476E74);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF5085), to(#476E74));
    background: linear-gradient(to bottom, #FF5085, #476E74);
  }

  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 200; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: -o-linear-gradient(top, #FF5085, #476E74);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF5085), to(#476E74));
    background: linear-gradient(to bottom, #FF5085, #476E74);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.8rem;
    margin-left: 50px;
  }
  
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }

  .line{
      width: 2.4rem;
      height: 0.3rem;
      background: #E9F1F7;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
  }

  .hamburger {
    padding: 0.3rem 0.3rem;
    z-index: 1;
  }
  

  .menu-width {
    width: 250px !important;
  }

  .sidenav a.brand-sidenav {
    padding: initial;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-left: initial;
  }

  .active-li-element {
    border-left: solid 6px #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.scroll-prevent {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

.btn-secondary {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 0.1rem 1rem;
}

.modal-header{
    background: -o-linear-gradient(top, #FF5085, #476E74);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF5085), to(#476E74));
    background: linear-gradient(to bottom, #FF5085, #476E74);
}

.modal-footer {
    background: -o-linear-gradient(top, #FF5085, #476E74);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF5085), to(#476E74));
    background: linear-gradient(to bottom, #FF5085, #476E74);
}


@media (min-width: 992px) {

  .navbar-nav .dropdown-menu {
      background: transparent;
      border: none;
      width: 100%;
  }

  .sidenav {
    width: 100%; /* 0 width - change this with JavaScript */
    position: relative;
    background: transparent; /* Black*/
    overflow-x: initial; /* Disable horizontal scroll */
    padding-top: initial; /* Place content 60px from the top */
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  .sidenav .closebtn {
    display: none;
    position: initial;
    right: 0;
    font-size: 1rem;
    margin-left: auto;
  }

  .sidenav a {
    padding: initial;
    text-decoration: none;
    font-size: 0.7rem;
    color: #ffffff;
    display: block;
    margin-left: initial;
    font-weight: 600;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.backdrop {
  display: none;
}

.sidenav{
  width: 100%;
}

.menu-width {
  width: 100% !important;
}

.active-li-element {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: none;
}

.active-ancor {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: solid 4px #007BEA;
}

.scroll-prevent {
  position: initial;
    top: 0;
    left: 0;
    height: initial;
    width: initial;
    overflow: initial;
}

.account-btn-icon {
    font-size: 1rem;
    line-height: .75em;
    vertical-align: -.0667em;
    margin-right: 0.5rem;
  }

.account-btn {
      background: #FF5085;
      padding: .2rem 0.5rem;
  }

.bag-btn-icon{
    font-size: 1rem;
    line-height: .75em;
    vertical-align: -.0667em;
    margin-right: 0.5rem;
}

.bag-button {
    background: #FF5085;
    padding: .2rem 0.5rem;
}

}

@media (min-width: 1076px) {
    .sidenav a {
    padding: initial;
    text-decoration: none;
    font-size: 0.8rem;
    color: #ffffff;
    display: block;
    margin-left: initial;
    font-weight: 600;
}
}

@media (min-width: 1200px) {  
 .sidenav a {
    padding: initial;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    display: block;
    margin-left: initial;
    font-weight: 600;
}   
}

/* Hero Section */

.callout-container-img-bg {
    height: 40rem;
    background: url("/media/hero_img.jpg") no-repeat center top fixed;
    background-color: #15314A;
    background-blend-mode: soft-light;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.lead {
    font-weight: 600;
}

.hero-btn {
    background: #FF5085;
    padding: .3rem 1.5rem;
    border-radius: 0;
    border-color: #FF5085;
}

.hero-fmore--position {
    position: relative;
    padding: 2.5rem;
    top: -4rem;
    background: #fff;
    -webkit-box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
            box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
}

.icon-about {
    fill: #FF5085;
    height: 3rem;
}

/* Why Join Us */

.h2--border::after {
    background-color: #FF5085;
    content: '';
    display: block;
    height: 0.15rem;
    position: absolute;
    width: 5.3rem;
}

.text-gray {
    color: #707070;
}

.text-pink {
    color: #FF5085;
}


/* Taken and re-designed https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 1px solid #707070;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 3px;
  left: 4px;
  bottom: 4px;
  background-color: #FF5085;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(65px);
  -ms-transform: translateX(65px);
  transform: translateX(65px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.offer-card {
    background: linear-gradient(to bottom, #FF5085, #476E74);
    border-radius: 30px;
}


.offer-price {
    border: 2px solid #ffffff;
    border-radius: 15px;
}

.offer-btn {
    background: #FF5085;
    padding: .2rem 1rem;
    border-radius: 0;
    border-color: #FF5085;
}

.viewall-link{
    font-size: .8rem;
    color: #FF5085;
    font-weight: bold;
}

/* Products Section Index Page*/

.color-overlay {
    background-color: #15314A;
    opacity: 0.6;
    top: 0;
    background-blend-mode: soft-light;
    z-index: -1;
}

.img-products {
    z-index: -2;
    background-color: #15314A;
}

.product-category-h3 {
    z-index: 1;
    color: #ffffff;
    top: 5rem;
    font-size: 1.8rem;
}


.products-section-btn {
    top: 11.5rem;
    left: 1.3rem;
    background: #FF5085;
    padding: .2rem 1rem;
    border-radius: 0;
    border-color: #FF5085;
}

@media(min-width: 377px) {
    .product-category-h3 {
         z-index: 1;
        color: #ffffff;
        top: 9rem;
        font-size: 2.3rem;
    }

    .products-section-btn {
    top: 18rem;
    left: 1.3rem;
    background: #FF5085;
    padding: .2rem 1rem;
    border-radius: 0;
    border-color: #FF5085;
}
}

@media (min-width: 577px) {
    .product-category-h3 {
    z-index: 1;
    color: #ffffff;
    top: 2rem;
    font-size: 1.8rem;
}

.products-section-btn {
    top: 11rem;
    left: 1.3rem;
    background: #FF5085;
    padding: .2rem 1rem;
    border-radius: 0;
    border-color: #FF5085;
}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 992px) {  
 .product-category-h3 {
    z-index: 1;
    color: #ffffff;
    top: 5rem;
    font-size: 1.8rem;
}

}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .product-category-h3 {
    z-index: 1;
    color: #ffffff;
    top: 8rem;
    font-size: 1.8rem;
}

.products-section-btn {
    top: 14rem;
    left: 1.3rem;
    background: #FF5085;
    padding: .2rem 1rem;
    border-radius: 0;
    border-color: #FF5085;
}
}

/* Blog Section Index Page */

.blog-section-tag {
    background: #FF5085;
    padding: .2rem 1rem;
    border-radius: 0;
    border-color: #ff5085;
}

/* Sucess Section Index Page */

.success-stories {
  padding: 0 0 3rem 0;
  background-color: #ff5085;
}

.carousel {
  display: flex;
}

.story1,
.story2,
.story3 {
  height: 12rem;
  font-size: 1rem;
}

.story-one-img-container {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: url("/media/story-one.jpg");
  background-size: 100px 100px;
}

.story-two-img-container {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: url("/media/story-two.jpg");
  background-size: 100px 100px;
}

.story-three-img-container {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: url("/media/story-three.jpg");
  background-size: 100px 100px;
}

.carousel-indicators {
  bottom: -3rem;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #0E1D28;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

div.story-name > p {
  font-size: 0.8rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .story1 > p,
  .story2 > p,
  .story3 > p {
    font-size: 1rem;
  }
}

/* Footer Base Template*/

footer {
    background-color: #0E1D28;
}

.footer-brand {
    font-size: 2.2rem;
    font-weight: bold;
}

.footer-info {
    font-size: 1rem;
    font-weight: bold;
}

/* Products Page */

.product-search-input {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    width: 15rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 768px) {  

.product-search-input {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    width: 20rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

}

/* Product Detail Page */

.product-detail-container {
    height: 40rem;
}