.subscriptions-container-img-bg{
    min-height: 40rem;
    height: unset;
    background: url(/media/hero_img.jpg) no-repeat center top fixed;
    background-color: #15314A;
    background-blend-mode: soft-light;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.subscriptions-container-img-bg > div.container {
    padding-top: 8rem;
}

.card-background {
    background: linear-gradient(to bottom, #FF5085, #476E74);
}

.card {
    border: none;
    height: 100%;
}

.card-header {
    height: 4.3rem;
}

h4 {
    font-size: 1rem;
}