{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_hero %}
    <div class="callout-container-img-bg">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
                        <h1 class="text-white">{% trans "Change Password" %}</h1>
                        <p class="text-white">{% trans 'Your password is now changed.' %}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
