{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block page_hero %}

    <div class="callout-container-img-bg">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
                     <h1 class="text-white">{% trans "Set Password" %}</h1>

                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set text-white">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary hero-btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                    </form>         
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}