{% extends "base.html" %}
{% load static %}

{% block page_hero %}
<div class="callout-container-img-bg">
        <div class="container">
			<div class="row">
				<div class="col-12 hero-background-color text-center">
                    <h1 class="text-white">Search our products</h1>
                    <p class="lead text-white mt-4 mb-4 d-none d-lg-block">Find your perfect diet or training plan</p>
					<form class="form" method="GET" action="/products/">
                        <div class="form-row flex-column flex-lg-row">
                            <input class="product-search-input mx-auto mx-lg-0 ml-lg-auto" type="text" name="q" placeholder="Search our site">
                            <button class="btn btn-primary hero-btn mx-auto mt-3 mr-lg-auto ml-lg-3 my-lg-auto" type="submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
    <section class="products-section">
        <div class="container">
        
        </div>
    </section>
{% endblock %}